@define-color bg0      #0e0e12;
@define-color bg1      #13131a;
@define-color bg2      #1a1a22;
@define-color bg3      #22222c;

@define-color fg       #e4e1ec;

@define-color red      #b46c73;
@define-color orange   #c28a6b;
@define-color yellow   #d5c88f;
@define-color green    #6fa48d;
@define-color aqua     #6fa4a8;
@define-color blue     #7a8ec6;
@define-color purple   #a48ac9;

@define-color gray0    #2c2c35;
@define-color gray1    #3b3b45;
@define-color gray2    #4a4a55;