@define-color accent  #61afef;
@define-color cyan    #56b6c2;
@define-color teal    #56b6c2;
@define-color text    #abb2bf;
@define-color base    #282c34;
@define-color red     #e06c75;
@define-color blue    #61afef;
@define-color orange  #d19a66;
@define-color yellow  #e5c07b;
@define-color green   #98c379;
@define-color purple  #c678dd;
@define-color magenta #c678dd;
