* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
  font-weight: 700;
  border-radius: 6px;
  color: #dcd7ba;
  box-shadow: none;
  padding-top: 0;
  padding-bottom: 0;
}

.blank-window {
  background: rgba(31, 31, 40, 0.2);
}

.control-center {
  background: #1f1f28;
  color: #dcd7ba;
  border-radius: 4px;
  border: 1px solid #363646;
}
.control-center .notification-row:focus,
.control-center .notification-row:hover {
  opacity: 1;
  background: #2a2a37;
}

.control-center-list {
  background: transparent;
}
.control-center-list-placeholder {
  opacity: 0.5;
}

.notification {
  background: #2a2a37;
  border-radius: 6px;
  margin: 4px;
  border: 1px solid #7e9cd8;
  padding: 6px;
}
.notification-content {
  background: #2a2a37;
  margin: 6px;
}
.notification-row {
  outline: none;
  margin: 0;
  padding: 0;
}
.notification-default-action {
  border-radius: 6px;
  transition: background 0.2s ease;
}
.notification-action {
  border-radius: 6px;
  transition: background 0.2s ease;
}
.notification-default-action:hover,
.notification-action:hover {
  color: #dcd7ba;
  background: #363646;
}
.notification-default-action:not(:only-child) {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.notification-action:first-child,
.notification-action:last-child {
  background: #2a2a37;
}

.notification-group-close-all-button,
.notification-group-collapse-button {
  border-radius: 6px;
  padding: 0.1em;
  margin: 2px;
  min-width: 10px;
  min-height: 10px;
}

.image {
  border-radius: 6px;
  margin-right: 10px;
}

.summary {
  font-size: 14px;
  font-weight: 700;
  color: #dcd7ba;
  background: transparent;
}
.time {
  font-size: 12px;
  font-weight: 600;
  color: #727169;
  margin-right: 5px;
}
.body {
  font-size: 14px;
  font-weight: 400;
  color: #dcd7ba;
  background: transparent;
}
.close-button {
  background: #2a2a37;
  min-width: 10px;
  min-height: 10px;
  border-radius: 6px;
  box-shadow: 0px 0px 0.8em rgba(0, 0, 0, 0.15);
  transition: all 0.15s ease-in-out;
}
.close-button:hover {
  background: #363646;
  box-shadow: none;
}

.floating-notifications {
  background: transparent;
}

.widget-title {
  background: #1f1f28;
  padding: 4px 8px;
  margin: 8px 8px 4px 8px;
  font-size: 1.5rem;
  border-radius: 6px;
}
.widget-title > button {
  background: #2a2a37;
  min-width: 22px;
  min-height: 22px;
  border-radius: 6px;
}
.widget-title > button:hover {
  background: #363646;
}

.widget-dnd {
  background: #1f1f28;
  padding: 4px 8px;
  margin: 8px 8px 4px 8px;
  font-size: 1.5rem;
  border-radius: 6px;
}
.widget-dnd > switch {
  background: #2a2a37;
}
.widget-dnd > switch:checked {
  background: #957fb8;
}
.widget-dnd > switch slider,
.widget-dnd > switch:checked slider {
  background: #dcd7ba;
  min-width: 22px;
  min-height: 22px;
  border-radius: 6px;
}

.widget-label {
  margin: 8px;
}
.widget-label > label {
  font-size: 1.1rem;
  color: #dcd7ba;
}

.widget-mpris {
  padding: 8px 0 0 0;
  margin: 8px;
  margin-bottom: 0;
  border-radius: 6px;
}
.widget-mpris-player {
  padding: 15px;
  margin: 5px 8px;
  background-color: #2a2a37;
  border-radius: 6px;
}
.widget-mpris > box > button {
  margin: 1em 0 0 0;
  padding: 0.1em;
  background: #1f1f28;
  border: none;
}
.widget-mpris-player button:hover {
  background: #363646;
}
.widget-mpris-title {
  font-weight: 700;
  font-size: 1em;
  color: #dcd7ba;
}
.widget-mpris-subtitle {
  font-size: 1.1rem;
  color: #727169;
}
