window {
  margin: 0;
  padding: 12px;
  background-color: #13131a;
  border: none;
  color: #e4e1ec;
  font-family: "JetBrains Mono Nerd Font";
  font-size: 16px;
}

#input {
  padding: 10px 12px;
  border: none;
  color: #e4e1ec;
  background-color: #1a1a22;
  border-radius: 6px;
}

#inner-box,
#outer-box {
  border: none;
  background-color: #13131a;
}

#scroll {
  margin: 0;
  border: none;
  background: none;
}

#text {
  margin: 6px 12px;
  color: #e4e1ec;
}

#entry {
  padding: 4px 6px;
  border-radius: 4px;
}

#entry:selected {
  background-color: #22222c;
  color: #7a8ec6;
}

#entry:selected * {
  background-color: #22222c;
  color: #7a8ec6;
}

#entry:hover:not(:selected) {
  background-color: #1a1a22;
  color: #a48ac9;
  transition:
    background-color 0.15s ease,
    color 0.15s ease;
}
