window {
  margin: 0;
  background-color: #232136;
  border: none;
  color: #e0def4;
  font-family: "JetBrains Mono Nerd Font";
  font-size: 16px;
}

#input {
  margin: 0;
  padding: 6px 8px;
  border: none;
  color: #e0def4;
  background-color: #2a273f;
}

#inner-box,
#outer-box {
  margin: 0;
  border: none;
  background-color: #232136;
}

#scroll {
  margin: 0;
  border: none;
  background: none;
}

#text {
  margin: 4px 8px;
  color: #e0def4;
}

#entry:selected {
  background-color: #44415a;
  color: #c4a7e7;
}

#entry:selected * {
  background-color: #44415a;
  color: #c4a7e7;
}

#entry:hover:not(:selected) {
  background-color: #2a273f;
  color: #9ccfd8; /* foam */
  transition:
    background-color 0.15s ease,
    color 0.15s ease;
}
