* {
  font-family: "JetBrainsMono Nerd Font", "DroidSansM Nerd Font";
  font-size: 16px;
}

window#waybar {
  background-color: #1e1e2e;
  color: #cdd6f4;
}

#workspaces button {
  all: unset;
  padding: 0 6px;
  color: #6c7086;
}

#workspaces button.default {
  color: #6c7086;
  text-shadow: none;
}

#workspaces button.active {
  color: #cba6f7;
  text-shadow: 0 0 6px #cba6f780;
}

#workspaces button.urgent {
  color: #f38ba8;
  text-shadow: 0 0 5px #f38ba870;
}

#clock,
#mpd,
#mpris,
#cava,
#custom-sep,
#battery,
#cpu,
#memory,
#disk,
#network,
#pulseaudio,
#tray {
  padding: 0 6px;
  color: #cdd6f4;
}

#custom-sep {
  color: #313244;
}

#clock {
  color: #89b4fa;
}

#battery {
  color: #fab387;
}

#disk {
  color: #cba6f7;
}

#cava {
  color: #fab387;
}

#dwl-window {
  color: #f9e2af;
}

#mpd {
  color: #f9e2af;
}

#mpris {
  color: #94e2d5;
}

#memory {
  color: #a6e3a1;
}

#cpu {
  color: #a6e3a1;
}

#network {
  color: #89dceb;
}

#pulseaudio {
  color: #74c7ec;
}

#custom-pipewire {
  color: #89dceb;
}

#network.disconnected {
  color: #f38ba8;
}

#tray {
  color: #fab387;
}

@keyframes pulse {
  0% {
    text-shadow: 0 0 5px #89dceb;
  }
  50% {
    text-shadow: 0 0 15px #89dceb;
  }
  100% {
    text-shadow: 0 0 5px #89dceb;
  }
}
