@define-color accent  #9ccfd8;
@define-color cyan    #9ccfd8;
@define-color teal    #31748f;
@define-color text    #e0def4;
@define-color base    #191724;
@define-color red     #eb6f92;
@define-color blue    #9ccfd8;
@define-color orange  #f6c177;
@define-color yellow  #f6c177;
@define-color green   #31748f;
@define-color purple  #c4a7e7;
@define-color magenta #ebbcba;
@define-color muted   #6e6a86;

@define-color fg @text;
@define-color inactive @muted;
@define-color module-bg rgba(15, 13, 26, 0.9);
@define-color tooltip-bg rgba(15, 13, 26, 0.9);
@define-color workspace-fg @fg;
