* {
  font-family: "JetBrainsMono Nerd Font", "DroidSansM Nerd Font";
  font-size: 16px;
}

window#waybar {
  background-color: #1f1f28;
  color: #dcd7ba;
}

/* WORKSPACES */
#workspaces button {
  all: unset;
  padding: 0 6px;
  color: #727169;
}

#workspaces button.default {
  color: #727169;
  text-shadow: none;
}

#workspaces button.active {
  color: #957fb8;
  text-shadow: 0 0 6px #957fb880;
}

#workspaces button.urgent {
  color: #e46876;
  text-shadow: 0 0 5px #e4687670;
}

/* MODULES */
#clock,
#mpd,
#cava,
#custom-sep,
#battery,
#cpu,
#memory,
#disk,
#network,
#pulseaudio,
#tray {
  padding: 0 6px;
  color: #dcd7ba;
}

/* SEPARATOR */
#custom-sep {
  color: #2a2a37;
}

/* MODULE COLORS */
#clock {
  color: #7e9cd8;
}

#battery {
  color: #e6c384;
}

#disk {
  color: #957fb8;
}

#cava {
  color: #e6c384;
}

#dwl-window {
  color: #ffa066;
}

#mpd {
  color: #957fb8;
}

#memory {
  color: #98bb6c;
}

#cpu {
  color: #98bb6c;
}

#network {
  color: #7fb4ca;
}

#pulseaudio {
  color: #7fb4ca;
}

#custom-pipewire {
  color: #7fb4ca;
}

#network.disconnected {
  color: #e46876;
}

#tray {
  color: #e6c384;
}

/* ANIMASI */
@keyframes pulse {
  0% {
    text-shadow: 0 0 5px #7fb4ca;
  }
  50% {
    text-shadow: 0 0 15px #7fb4ca;
  }
  100% {
    text-shadow: 0 0 5px #7fb4ca;
  }
}
