@import "./schemes/tokyonight.css";
window {
  margin: 0;
  padding: 12px;
  background-color: #1a1b26; /* TN bg utama */
  border: none;
  color: #c0caf5; /* foreground Tokyo Night */
  font-family: "JetBrains Mono Nerd Font";
  font-size: 16px;
}

#input {
  padding: 10px 12px;
  border: none;
  color: #c0caf5;
  background-color: #1f2335; /* sedikit lebih terang */
  border-radius: 6px;
}

#inner-box,
#outer-box {
  border: none;
  background-color: #1a1b26;
}

#scroll {
  margin: 0;
  border: none;
  background: none;
}

#text {
  margin: 6px 12px;
  color: #c0caf5;
}

#entry {
  padding: 4px 6px;
  border-radius: 4px;
  /* warna teks default */
  color: #c0caf5;
}

#entry:selected {
  background-color: #283457; /* warna seleksi khas TN */
  color: #7aa2f7; /* aksen biru */
}

#entry:selected * {
  background-color: #283457;
  color: #7aa2f7;
}

#entry:hover:not(:selected) {
  background-color: #1f2335; /* hover gelap lembut */
  color: #bb9af7; /* ungu stylish */
  transition:
    background-color 0.15s ease,
    color 0.15s ease;
}
