* {
  font-family: "JetBrainsMono Nerd Font", "DroidSansM Nerd Font";
  font-size: 16px;
}

window#waybar {
  background-color: #232136;
  color: #e0def4;
  transition: background-color 0.3s ease;
}

/* Workspace button umum */
#workspaces button {
  all: unset;
  padding: 0px 8px;
  color: #6e6a86;
  transition: all 0.25s ease-in-out;
}

#workspaces button.default {
  color: #6e6a86;
}

#workspaces button.active {
  color: #c4a7e7;
  text-shadow: 0 0 6px #c4a7e780;
}

#workspaces button.urgent {
  color: #eb6f92;
  text-shadow: 0 0 5px #eb6f9270;
}

#workspaces button:hover {
  color: #9ccfd8;
  text-shadow: 0 0 5px #6fc8eb70;
}

#clock,
#mpd,
#mpris,
#cava,
#custom-sep,
#battery,
#cpu,
#memory,
#disk,
#network,
#pulseaudio,
#temperature,
#tray {
  padding: 0 6px;
  color: #e0def4;
}

#custom-sep {
  color: #44415a;
}

#clock {
  color: #9ccfd8;
}

#battery {
  color: #f6c177;
}

#disk {
  color: #c4a7e7;
}

#cava {
  color: #f6c177;
}

#dwl-window {
  color: #ebbcba;
}

#mpd {
  color: #ebbcba;
}

#mpris {
  color: #9ccfd8;
}

#memory {
  color: #3e8fb0;
}

#temperature {
  color: #31748f;
}

#cpu {
  color: #9ccfd8;
}

#network {
  color: #9ccfd8;
}

#pulseaudio {
  color: #c4a7e7;
}

#custom-pipewire {
  color: #9ccfd8;
}

#network.disconnected {
  color: #eb6f92;
}

#tray {
  color: #f6c177;
}

@keyframes pulse {
  0% {
    text-shadow: 0 0 5px #9ccfd8;
  }
  50% {
    text-shadow: 0 0 15px #9ccfd8;
  }
  100% {
    text-shadow: 0 0 5px #9ccfd8;
  }
}
