* {
  font-family: "JetBrainsMono Nerd Font", "DroidSansM Nerd Font";
  font-size: 16px;
}

window#waybar {
  background-color: #1a1b26;
  color: #c0caf5;
}

#workspaces button {
  all: unset;
  padding: 0 6px;
  color: #565f89;
}

#workspaces button.default {
  color: #565f89;
  text-shadow: none;
}

#workspaces button.active {
  color: #bb9af7;
  text-shadow: 0 0 6px #bb9af780;
}

#workspaces button.urgent {
  color: #f7768e;
  text-shadow: 0 0 5px #f7768e70;
}

#clock,
#mpd,
#mpris,
#cava,
#custom-sep,
#battery,
#cpu,
#memory,
#disk,
#network,
#pulseaudio,
#temperature,
#tray {
  padding: 0 6px;
  color: #c0caf5;
}

#custom-sep {
  color: #3b4261;
}

#clock {
  color: #7aa2f7;
}

#battery {
  color: #e0af68;
}

#disk {
  color: #bb9af7;
}

#cava {
  color: #e0af68;
}

#dwl-window {
  color: #ff9e64;
}

#mpd {
  color: #ff9e64;
}

#mpris {
  color: #73daca;
}

#memory {
  color: #9ece6a;
}

#temperature {
  color: #9ece6a;
}

#cpu {
  color: #9ece6a;
}

#network {
  color: #7dcfff;
}

#pulseaudio {
  color: #2ac3de;
}

#custom-pipewire {
  color: #7dcfff;
}

#network.disconnected {
  color: #f7768e;
}

#tray {
  color: #e0af68;
}

@keyframes pulse {
  0% {
    text-shadow: 0 0 5px #7dcfff;
  }
  50% {
    text-shadow: 0 0 15px #7dcfff;
  }
  100% {
    text-shadow: 0 0 5px #7dcfff;
  }
}
