* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font", "DroidSansM Nerd Font";
  font-size: 16px;
  padding: 0;
  margin: 0;
}

window#waybar {
  background-color: rgba(14, 14, 18, 0.85);
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.22);
}

/* ─────────────────────────────────────────────
   Workspaces
   ───────────────────────────────────────────── */

/* Workspaces */
#workspaces button {
  all: unset;
  padding: 0px 6px;
  color: #6c6a75;
  transition: all 0.25s ease-in-out;
}

#workspaces button.default {
  color: #6c6a75;
}

#workspaces button.active {
  color: #6fa4a8;
  text-shadow: 0 0 6px #6fa4a840;
}

#workspaces button.urgent {
  color: #e27878;
  text-shadow: 0 0 5px #e2787840;
}

#workspaces button:hover {
  color: #b47faa;
  text-shadow: 0 0 5px #b47faa40;
}

/* ─────────────────────────────────────────────
   Custom stuff
   ───────────────────────────────────────────── */

#custom-exit {
  color: #e27878;
  font-size: 18px;
  font-weight: 800;
}

#custom-cava {
  color: #e4e1ec;
  padding: 0 6px;
  min-width: 100px;
  margin: 3px 3px;
  border-radius: 12px;
}

#custom-sep {
  color: #4a4a55;
  margin-left: 5px;
  font-size: 20px;
}

/* ─────────────────────────────────────────────
   Modules
   ───────────────────────────────────────────── */

#battery,
#network,
#backlight,
#tray,
#pulseaudio {
  margin: 0 10px;
  font-size: 18px;
  border-radius: 5px;
}

#pulseaudio-slider {
  margin: 0 15px;
  padding: 0;
}

#pulseaudio-slider slider {
  border-radius: 9999px;
  min-height: 10px;
}

#pulseaudio-slider trough {
  border-radius: 9999px;
  min-width: 150px;
}

#pulseaudio-slider highlight {
  border-radius: 9999px;
  background: #d5c88f;
}

#backlight-slider {
  margin: 0 15px;
  padding: 0;
}

#backlight-slider slider {
  border-radius: 9999px;
  min-height: 10px;
}

#backlight-slider trough {
  border-radius: 9999px;
  min-width: 150px;
}

#backlight-slider highlight {
  border-radius: 9999px;
  background: #c28a6b;
}

.misc-modules {
  font-size: 15px;
}

#clock {
  color: #7a8ec6;
  font-family: "JetBrainsMono Nerd Font Mono";
  font-weight: 600;
  margin-left: 15px;
}

#backlight {
  color: #c28a6b;
}

#power-profiles-daemon {
  color: #c28a6b;
  margin-left: 10px;
}

#pulseaudio {
  color: #d5c88f;
}

#network {
  color: #a48ac9;
}

#battery {
  color: #6fa48d;
  margin-right: 20px;
}

tooltip {
  border: 1px solid #3b3b45;
}
