window {
  margin: 0px;
  background-color: #1f1f28;
  border: none;
  color: #dcd7ba;
  font-family: "JetBrains Mono Nerd Font";
  font-size: 16px;
}

#input {
  margin: 4px;
  padding: 4px 8px;
  border: none;
  color: #7e9cd8;
  background-color: #1f1f28;
}

#inner-box {
  margin: 0px;
  border: none;
  background-color: #1f1f28;
  color: #dcd7ba;
}

#outer-box {
  margin: 0px;
  border: none;
  background-color: #1f1f28;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 2px 6px;
  border: none;
  color: #dcd7ba;
}

#entry:selected {
  background-color: #2a2a37;
  color: #dcd7ba;
  outline: none;
}

#entry:selected * {
  background-color: #2a2a37;
  color: #dcd7ba;
  outline: none;
}
