/* Tokyo night dark enhanced color theme */

@define-color module-bg rgba(8, 8, 11, 0.9);
@define-color tooltip-bg rgba(8, 8, 11, 0.9);
@define-color inactive #787c99;
@define-color fg #acb0d0;
@define-color workspace-fg @fg;

@define-color red #f7768e;
@define-color blue #7aa2f7;
@define-color yellow #e0af68;
@define-color green #41a6b5;

* {
  font-family: "JetBrainsMono Font";
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
  text-shadow: none;
}

#waybar {
  font-weight: 700;
  background: transparent;
  font-size: 14px;
  color: @fg;
}

/* global paddings */
#temperature,
#bluetooth,
#battery,
#memory,
#mpris,
#window,
#cpu,
#load {
  padding: 1px 7px;
}

#network,
#tray {
  padding: 1px 6px;
}

#backlight,
#pulseaudio {
  padding: 1px 8px;
}

#pulseaudio {
  padding-left: 4px;
}

#backlight-slider,
#pulseaudio-slider {
  padding: 0 7px 0 2px;
}

#workspaces,
#bluetooth,
#battery,
#memory,
#temperature,
#cpu,
#mpris,
#window,
#load {
  margin: 0 3px;
}

#right,
#left,
#right-hidden-top,
#left-hidden-top {
  padding: 2px 10px;
  border-radius: 15px;
  background: @module-bg;
}

#right-hidden-top,
#left-hidden-top {
  padding: 0 12px;
}

#right,
#left {
  margin: 0 8px;
}

#clock {
  background: @module-bg;
  padding: 1px 18px;
  border-radius: 15px;
}

#custom-ctlcenter {
  margin-left: 7px;
}

#power-profiles-daemon,
#custom-start {
  margin-right: 7px;
}

#cpu.critical,
#memory.critical,
#battery.critical,
#network.disabled,
#temperature.critical,
#network.disconnected,
#power-profiles-daemon.performance {
  color: @red;
}

#cpu.warning,
#memory.warning,
#battery.warning,
#temperature.warning {
  color: @yellow;
  background: unset;
}

#power-profiles-daemon.power-saver {
  color: @green;
}

#custom-start,
#custom-ctlcenter {
  color: @blue;
}

#workspaces button {
  color: @workspace-fg;
  font-size: 14px;
  border-radius: 100%;
  padding: 0 2px;
  margin: 0 3px;
}

#workspaces button:hover {
  background: transparent;
}

#mpris.paused {
  color: @inactive;
}

/* ---<==== Misc ====>--- */
tooltip {
  border-radius: 15px;
  background: @tooltip-bg;
}

tooltip label {
  padding: 3px 10px;
  color: @fg;
  font-weight: 700;
}

.popup * {
  box-shadow: none;
  outline: none;
}

menu,
menu {
  border-radius: 10px;
  font-weight: 700;
  color: @fg;
  background: @tooltip-bg;
}

menu > *,
menu > * {
  padding: 3px 0px;
}

menu > *:hover,
menu > *:hover {
  border-radius: 10px;
  background-color: @inactive;
}

#backlight-slider slider,
#pulseaudio-slider slider {
  opacity: 0;
}

#backlight-slider trough,
#pulseaudio-slider trough {
  min-width: 50px;
  min-height: 5px;
  border-radius: 8px;
  background: @inactive;
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
  border-radius: 8px;
  background-color: @fg;
}
