@import "./schemes/tokyonight.css";

* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font", "DroidSansM Nerd Font";
  font-size: 16px;
  padding: 0;
  margin: 0;
}

#window {
  color: @text;
  margin-left: 5px;
}

window#waybar {
  background-color: alpha(@base, 0.92);
  box-shadow: 0 10px 24px alpha(black, 0.35);
}

/* ─────────────────────────────────────────────
   Workspaces
   ───────────────────────────────────────────── */

#workspaces button {
  all: unset;
  padding: 0px 6px;
  color: @magenta;
  transition: all 0.25s ease-in-out;
}

#workspaces button.default {
  color: @magenta;
}

#workspaces button.active {
  color: @purple;
  text-shadow: 0 0 6px alpha(@accent, 0.25);
}

#workspaces button.urgent {
  color: @red;
  text-shadow: 0 0 5px alpha(@red, 0.25);
}

#workspaces button:hover {
  color: @magenta;
  text-shadow: 0 0 5px alpha(@magenta, 0.25);
}

/* ─────────────────────────────────────────────
   Custom modules
   ───────────────────────────────────────────── */

#custom-exit {
  color: @red;
  font-size: 18px;
  font-weight: 800;
  margin: 0 10px;
  border-radius: 5px;
}

#custom-cava {
  color: @text;
  padding: 0 6px;
  min-width: 100px;
  margin: 3px 3px;
  border-radius: 12px;
}

#custom-sep {
  color: @muted;
  margin-left: 5px;
  font-size: 20px;
}

#custom-pacman {
  color: @teal;
  margin: 0 10px;
  border-radius: 5px;
}

#custom-notification {
  color: @magenta;
  margin: 0 10px;
  border-radius: 5px;
}

/* ─────────────────────────────────────────────
   Modules
   ───────────────────────────────────────────── */

#battery,
#network,
#backlight,
#tray,
#bluetooth,
#pulseaudio {
  margin: 0 10px;
  font-size: 18px;
  border-radius: 5px;
}

#pulseaudio-slider {
  margin: 0 15px;
  padding: 0;
}

#pulseaudio-slider slider {
  border-radius: 9999px;
  min-height: 10px;
}

#pulseaudio-slider trough {
  border-radius: 9999px;
  min-width: 150px;
  background: @text;
}

#pulseaudio-slider highlight {
  border-radius: 9999px;
  background: @orange;
}

#backlight-slider {
  margin: 0 15px;
  padding: 0;
}

#backlight-slider slider {
  border-radius: 9999px;
  min-height: 10px;
}

#backlight-slider trough {
  border-radius: 9999px;
  min-width: 150px;
  background: @text;
}

#backlight-slider highlight {
  border-radius: 9999px;
  background: @magenta;
}

.misc-modules {
  font-size: 15px;
}

#clock {
  color: @accent;
  font-family: "JetBrainsMono Nerd Font Mono";
  font-weight: 600;
  margin-left: 15px;
}

#backlight {
  color: @magenta;
}

#bluetooth {
  color: @cyan;
}

#power-profiles-daemon {
  color: @orange;
  margin-left: 10px;
}

#pulseaudio {
  color: @orange;
}

#network {
  color: @green;
}

#battery {
  color: @cyan;
  margin-right: 20px;
}

/* ─────────────────────────────────────────────
   Tooltip
   ───────────────────────────────────────────── */

tooltip {
  border: 1px solid @cyan;
  background: alpha(@base, 0.98);
  border-radius: 5px;
}

tooltip label {
  color: @text;
}
