window {
  margin: 0;
  background-color: #1e1e2e;
  border: none;
  color: #cdd6f4;
  font-family: "JetBrains Mono Nerd Font";
  font-size: 16px;
}

#input {
  margin: 0;
  padding: 4px 6px;
  border: none;
  color: #cdd6f4;
  background-color: #1e1e2e;
}

#inner-box {
  margin: 0;
  border: none;
  background-color: #1e1e2e;
}

#outer-box {
  margin: 0;
  border: none;
  background-color: #1e1e2e;
}

#scroll {
  margin: 0;
  border: none;
  background: none;
}

#text {
  margin: 2px 6px;
  color: #cdd6f4;
}

#entry:selected {
  background-color: #313244;
  color: #cba6f7;
}

#entry:selected * {
  background-color: #313244;
  color: #cba6f7;
}
