@define-color accent #9ccfd8;
@define-color surface0 #26233a;
@define-color surface1 #1f1d2e;
@define-color surface2 #191724;

@define-color base #191724;

@define-color text #e0def4;
@define-color text-alt #8A86A6;

@define-color red  #eb6f92;
@define-color red2 #b4637a;

@define-color orange #f6c177;
@define-color yellow #f6c177;

@define-color green #31748f;
@define-color blue #9ccfd8;
@define-color cyan #9ccfd8;

@define-color teal #31748f;

@define-color purple #c4a7e7;
@define-color magenta #c4a7e7;

@define-color center-bg rgba(15, 13, 26, 0.9);
@define-color background #0F0D1A;
@define-color background-alt #151323;